.errors {
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: red;
}

.info {
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: green;
}
